<?xml version="1.0" encoding="utf-8"?>
<configuration>

<connectionStrings><add name="Gas_stationDb" connectionString="metadata=res://*/Toras.csdl|res://*/Toras.ssdl|res://*/Toras.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WINDOWS-ALLPMAQ;initial catalog=Gas_station;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>